<%= render partial: 'layouts/tabs' %>

<table class="table">
  <thead>
    <% (0...@group.length).each do |i|  %>
      <th><%= i + 1 %></th>
    <% end %>
  </thead>

  <tbody>
    <% (0...@group[0].length).each do |row_num| %>
      <tr>
        <% (0...@group.length).each do |col_num| %>
          <td><%= @group[col_num][row_num] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
